@import "../../../Style/styleConfig.scss";

#service {
  width: 100%;
  height: auto;
  background-color: $primaryColor;
  padding: 1rem;
  padding-top: 5rem;
  font-family: $primaryFont;

  div {
    margin: 0 auto;
  }

  .service-info {
    text-align: center;
    width: 80%;
    height: auto;
    h2 {
      color: $secondaryFontColor;
      font-size: 3rem;
      letter-spacing: 0.3rem;
    }

    p {
      color: $fontColor;
      margin-top: 1rem;
      letter-spacing: 0.1rem;
    }
  }

  .service-holder-show {
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
    height: auto;
    .row-one,
    .row-two {
      width: 100%;
      height: 320px;
      margin-bottom: 1rem;
      padding-bottom: 1.5rem;
      display: flex;
      overflow: hidden;

      .row-one-part {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 1rem;
        position: relative;

        .container-info {
          width: 80%;
          height: 60%;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          border: 1px solid $secondaryColor;
          border-radius: 20px;

          div {
            width: 100%;
            height: 100%;
            padding: 1rem;
            text-align: center;
            h2 {
              color: $fontColor;
              margin-bottom: 0.6rem;
            }

            p {
              color: #ffffff99;
            }
          }

          svg {
            width: 100%;
            color: $secondaryColor;
            font-size: 6rem;
            position: absolute;
            bottom: 0%;
            right: 0%;
            left: 0;
            transition: 500ms ease;

            &:hover {
              transform: scale(1.5);
              transition: 500ms ease;
            }
          }
        }
      }
    }
  }
}

.paragraf {
  animation: paragrafAnimation 500ms ease forwards;
}

@keyframes paragrafAnimation {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  #service {
    .service-holder-show {
      width: 70%;
      .row-one,
      .row-two {
        height: 1000px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  #service {
    .service-holder-show {
      width: 70%;
      .row-one,
      .row-two {
        height: 900px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 768px) {
  #service {
    .service-holder-show {
      width: 80%;
    }
  }
}

@media (max-width: 650px) {
  #service {
    .service-holder-show {
      width: 90%;
    }
  }
}

@media (max-width: 580px) {
  #service {
    .service-holder-show {
      width: 100%;
    }
  }
}

@media (max-width: 510px) {
  #service {
    .service-holder-show {
      .row-one,
      .row-two {
        .row-one-part {
          .container-info {
            div {
              h2 {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}
