@import "../../../Style/styleConfig.scss";

#explanationSection {
  width: 100%;
  height: auto;
  padding: 5% 20%;
  background-color: $secondaryColor;
  font-family: $primaryFont;
  color: $blackFont;

  .explanationItem {
    margin-bottom: 2rem;

    div {
      h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
    }
  }
}
