@import "../../../Style/styleConfig.scss";

#administratorDashboard {
  width: 100%;
  height: 100vh;
  font-family: $primaryFont;

  .adminInfo {
    width: 100%;
    height: 4rem;
    background-color: $primaryColor;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    color: $secondaryFontColor;
    .adminLogo {
      margin-left: 3rem;
    }
  }

  .data-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    .user {
      background-color: $secondaryColor;
      overflow: scroll;
      padding: 1rem;

      .userContainerInfo {
        cursor: pointer;
        .userContainerData {
          width: 100%;
          height: 100%;
          border-top: 2px dashed $primaryColor;
          margin-bottom: 2rem;
        }
      }
    }
    .message {
      background-color: #999;
      overflow: scroll;
      padding: 1rem;

      .current {
        .currentUserInfo {
          border-bottom: 1px dashed $primaryColor;
          padding-bottom: 1rem;
          p {
            span {
              color: $fontColor;
              font-size: 1.2rem;
            }
          }
        }

        .currentMessage {
          display: flex;
          .currentMessageContainer {
            flex-grow: 1;
            flex-basis: 0;
            padding: 1rem 0;
            div {
              width: 100%;
              height: 70vh;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid $primaryColor;
            }
          }

          .currentImgContainer {
            flex-grow: 1;
            flex-basis: 0;
            padding: 1rem 0;
            div {
              width: 100%;
              height: 70vh;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid $primaryColor;
            }
          }
        }
      }
    }
  }
}
