@import "../../../Style/styleConfig.scss";

#carpetWashingSlogan {
  width: 100%;
  height: auto;
  background-image: url("../../../Img/bezkontaktno-pranje-vozila.jpg");
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 1rem;

  .carpetWashingSloganDiv {
    width: 30vw;
    height: 80%;
    background-color: $secondaryColor;
    border: 7px solid #b89521;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    text-align: center;
    font-family: $primaryFont;
    color: $blackFont;
    padding: 2rem;
    transition: 100ms ease;

    div {
      @include flexCenter();
      h3 {
        font-weight: 400;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        border-bottom: 2px solid $blackFont;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #carpetWashingSlogan {
    .carpetWashingSloganDiv {
      width: 35%;
    }
  }
}

@media screen and (max-width: 768px) {
  #carpetWashingSlogan {
    .carpetWashingSloganDiv {
      width: 45%;
    }
  }
}

@media screen and (max-width: 600px) {
  #carpetWashingSlogan {
    .carpetWashingSloganDiv {
      width: 75%;
    }
  }
}

@media screen and (max-width: 375px) {
  #carpetWashingSlogan {
    .carpetWashingSloganDiv {
      width: 90%;
    }
  }
}
