@import "../../../Style/styleConfig.scss";
#slogan {
  width: 100%;
  min-height: 80vh;
  background-image: url("../../../Img/bezkontaktno-pranje-vozila.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;

  .slogan-container {
    background-color: $secondaryColor;
    border-radius: 20px;
    border: 7px solid #b89521;
    position: absolute;
    left: 20%;
    top: 10%;
    right: 60%;
    bottom: 20%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $primaryFont;
    color: $blackFont;

    .sloganSubtitle {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      h3 {
        font-weight: 400;
        font-style: italic;
      }
    }

    .animateSloganSubtitle {
      animation: animateSloganH3 2000ms ease 4000ms forwards;
    }

    .sloganTitle {
      width: 80%;
      margin: 0 auto;
      flex-grow: 2;
      flex-basis: 0;
      padding-top: 1rem;
      font-size: 1.8rem;
      opacity: 0;
    }

    .animateSloganTitle {
      animation: animateSloganH2 2000ms ease 4000ms forwards;
    }

    .sloganInfo {
      flex-grow: 3;
      flex-basis: 0;
      padding-top: 2rem;
      width: 90%;
      margin: 0 auto;
      opacity: 0;
      border-top: 2px solid $primaryColor;
    }
  }

  .animateSloganInfo {
    animation: animateSloganInfo 2000ms ease 2000ms forwards;
  }

  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 50%;
      right: 20%;
      opacity: 1;
    }
  }

  @keyframes animateSloganH3 {
    0% {
      opacity: 0;
      margin-left: -50%;
    }
    100% {
      opacity: 1;
      margin-left: 0%;
    }
  }

  @keyframes animateSloganH2 {
    0% {
      opacity: 0;
      margin-left: 50%;
    }
    100% {
      opacity: 1;
      margin-left: 10%;
    }
  }

  @keyframes animateSloganInfo {
    0% {
      opacity: 0;
      margin-top: 30%;
    }
    100% {
      opacity: 1;
      margin-top: 0%;
    }
  }

  .animateSloganContainer {
    animation: animateSlogan 2000ms ease 300ms forwards;
  }
}

@media (max-width: 1000px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 40%;
      right: 20%;
      opacity: 1;
    }
  }
}

@media (max-width: 830px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 40%;
      right: 10%;
      opacity: 1;
    }
  }
}

@media (max-width: 650px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 30%;
      right: 10%;
      opacity: 1;
    }
  }
}

@media (max-width: 560px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 15%;
      right: 10%;
      opacity: 1;
    }
  }
}

@media (max-width: 430px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 5%;
      right: 5%;
      opacity: 1;
    }
  }
}

@media (max-width: 430px) {
  @keyframes animateSlogan {
    0% {
      left: 20%;
      right: 80%;
      opacity: 1;
    }
    50% {
      left: 20%;
      right: 20%;
      opacity: 1;
    }
    100% {
      left: 1%;
      right: 1%;
      bottom: 5%;
      opacity: 1;
    }
  }
}
